absl-py==1.4.0
alabaster==0.7.13
anyio==3.6.2
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
astunparse==1.6.3
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.2
bleach==6.0.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
cryptography==39.0.1
cycler==0.11.0
Cython==0.29.33
dash==2.8.1
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-draggable==0.1.2
dash-html-components==2.0.0
dash-split-pane==1.0.0
dash-table==5.0.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
docutils==0.18.1
entrypoints==0.4
enum34==1.1.10
fastjsonschema==2.16.2
filelock==3.12.2
Flask==2.2.2
flatbuffers==2.0.7
fonttools==4.38.0
fsspec==2023.1.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.51.1
h5py==3.8.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
imageio==2.25.1
imagesize==1.4.1
importlib-metadata==4.13.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
json5==0.9.11
jsonschema==3.2.0
jupyter-server==1.23.5
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab==3.5.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.6
kaleido==0.2.1
keras==2.11.0
kiwisolver==1.4.4
leveldb==0.201
libclang==15.0.6.1
livereload==2.6.3
lmdb==1.4.0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mpmath==1.2.1
mxnet==1.8.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.6.3
nose==1.3.7
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.21.6
oauthlib==3.2.2
onnx==1.13.0
onnxruntime==1.14.0
onnxsim==0.4.17
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.68
opt-einsum==3.3.0
packaging==23.0
paddle-bfloat==0.1.7
paddle2onnx==1.0.5
paddlepaddle==2.4.1
pandas==1.3.5
pandocfilters==1.5.0
paramiko==3.0.0
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
plotly==5.13.0
ply==3.11
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.3
pybind11-global==2.10.3
pycocotools==2.0.6
pycparser==2.21
Pygments==2.14.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-gflags==3.1.2
pytz==2022.7.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==25.0.0
regex==2023.6.3
reportlab==3.6.12
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.1
rsa==4.9
rst2pdf==0.99
safetensors==0.3.1
scikit-image==0.19.3
scipy==1.7.3
Send2Trash==1.8.0
sentencepiece==0.1.99
six==1.16.0
smartypants==2.0.1
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.10.1
tenacity==8.2.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==2.2.0
terminado==0.17.1
tf2onnx==1.13.0
tifffile==2021.11.2
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==1.13.1+cpu
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.30.2
typing_extensions==4.4.0
urllib3==1.26.14
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.2.2
wrapt==1.14.1
yamllint==1.32.0
zipp==3.13.0
